*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100dvw;
    height: 100dvh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    border: 1px solid red;
    width: 85%;
    height: fit-content;
}

header {
    display: flex;
}

summary {
    list-style-type: none;
    display: flex;
}

.minusIcon {
    display: none;
}

hr {
    width: 90%;
    margin: auto;
}

footer {
    position: absolute;
    bottom: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}